.contacts {
	display: flex;
	width: 100%;
	min-height: 100%;

	&__info {
		width: 50%;
		padding: 5rem clamp(3rem, 5%, 10rem);
		background: #fff;
	}

	.alert-success {
		max-width: 100%;
		background: $primary-color;
		margin: 0 auto;
		text-align: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: 5px;
		display: none;

		h3 {
			color: #fff;
			@include adaptiv-font(18, 14);
			font-family: $montserrat;
			font-weight: $light-font-weight;
		}

		p {
			margin: 0;
			color: #fff;
			@include adaptiv-font(14, 12);
			font-family: $open-sans;
			font-weight: $light-font-weight;
		}
	}

	.map {
		width: 50%;
	}

	iframe {
		width: 100%;
		height: 100%;
		border: none;
	}

	@include mediaLg {
		&__info {
			width: 100%;
			padding: 2rem;
		}

		.form__group {
			margin-bottom: 3rem;
		}

		.map {
			width: 100%;
			height: 40rem;
		}
	}

	@include mediaMd {
		display: block;

		.form__group {
			margin-bottom: 3rem;
		}

		.map {
			width: 100%;
			height: 40rem;
		}
	}

	@include mediaSm {
		.form__group {
			margin-bottom: 2rem;
		}

		.map {
			height: 40rem;
		}
	}
}

.form {
	margin-top: 3rem;
	text-align: center;

	&__group {
		position: relative;
		text-align: left;
		display: block;
		margin-bottom: 2rem;

		span {
			@include adaptiv-font(20, 18);
			color: $primary-color;
			font-family: $open-sans;
			position: absolute;
			top: 1rem;
			transform-origin: 0 0;
			cursor: text;
			@include easeOut;
		}

		textarea.form__control {
			padding: 1.5rem 0 1rem;
			outline: none;
			height: 10rem;
			margin-bottom: 4rem;
		}
	}

	&__control {
		border: none;
		border-bottom: 0.1rem solid $primary-color;
		display: block;
		width: 100%;
		height: 4rem;
		font-size: 1.2rem;
		background: none;
		font-family: $open-sans;
		transition: all 0.15s ease;
		&:focus,
		&:valid {
			border-bottom: 0.2rem solid $primary-color;
			& + span {
				transform: translateY(-2rem) scale(0.8);
			}
		}

		&:focus-visible {
			outline: none;
		}
	}

	&__button {
		width: 100%;
		border: none;
		cursor: pointer;
		text-decoration: none;
		@include adaptiv-font(20, 18);
		font-family: $open-sans;
		color: #fff;
		background-color: $primary-color;
		padding: 1rem 2rem;
		@include border-radius;
		@include easeOut;

		&:hover {
			background-color: $button-hover;
		}
	}
}
