footer {
	padding: 3rem 0;
	background-color: $primary-color-lighten;

	p {
		color: $text-color;
		text-align: center;
		@include adaptiv-font(18, 16);
		font-family: $open-sans;
		font-weight: $light-font-weight;

		a {
			@include adaptiv-font(18, 15);
			text-decoration: none;
			color: $primary-color;
		}
	}
}
