footer {
	padding: clamp(1rem, 5%, 3rem) 2%;
	background-color: $primary-color-lighten;

	p {
		color: $text-color;
		text-align: $align-center;
		@include adaptiv-font(18, 16);
		font-weight: $light-font-weight;

		a {
			@include adaptiv-font(18, 16);
			text-decoration: none;
			color: $primary-color;
		}
	}
}
