.home {
	@include image-set('../img/massage-bg');
	min-height: 80vh;
	display: $d-flex;
	position: $p-relative;

	@include bg-cover;
	@include overlay;

	&__text {
		text-align: $align-center;
		margin: $margin-auto;
		z-index: 1;
	}

	h1 {
		margin-bottom: 2rem;
	}

	@include mediaLg {
		@include image-set('../img/massage-bg-laptop');
	}

	@include mediaMd {
		min-height: 70vh;
		@include image-set('../img/massage-bg-tablet');
		background-position: 20%;

		h1 {
			margin-bottom: 1rem;
		}
	}

	@include mediaSm {
		min-height: 60vh;
		@include image-set('../img/massage-bg-mobile');
		background-position: 20%;
	}
}
