.menu {
	display: $d-flex;
	padding: 0 4rem;
	height: 6rem;
	position: $p-fixed;
	inset: 0;
	z-index: 3;
	background-color: $primary-color-lighten;
	align-items: $align-center;
	justify-content: space-between;

	&__logo {
		display: inherit;
		align-items: $align-center;
		column-gap: 5px;

		img {
			width: 3rem;
			height: 3rem;
		}

		&-text {
			font-family: $pacifico;
			@include adaptiv-font(30, 20);
			color: $primary-color;
		}
	}

	&__contact-info {
		display: inherit;
		margin-top: 0.5rem;
		justify-content: center;
		width: 60%;
	}

	.contact {
		display: inherit;

		&:nth-child(n + 2) {
			margin-left: 3rem;
		}

		&__icon {
			width: 1.2rem;
			height: 1.2rem;
			fill: $primary-color;
			align-self: center;
		}

		p,
		a {
			@include adaptiv-font(15, 12);
			padding-left: 0.5rem;
			align-self: center;
			font-weight: 600;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	&__lang {
		margin-top: 0.5rem;
		a {
			@include adaptiv-font(15, 12);
			padding: 0.5rem;
			font-weight: 600;
			color: $primary-color;
		}
	}

	&__btn {
		margin-top: 1rem;
		cursor: pointer;

		.btn-line {
			width: 28px;
			height: 3px;
			margin: 0 0 5px 0;
			background: #000;
			@include easeOut;
			@include border-radius;
		}

		&.close {
			.btn-line {
				&:nth-child(1) {
					transform: rotate(45deg) translate(6px, 6px);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translate(5px, -6px);
				}
			}
		}
	}

	@include mediaLg {
		padding: 0 1rem;

		&__contact-info {
			width: 57%;
		}

		.contact:nth-child(n + 2) {
			margin-left: 1rem;
		}
	}

	@include mediaMd {
		&__contact-info {
			width: auto;
			.contact:nth-child(1),
			.contact:nth-child(3) {
				display: none;
			}
		}
	}

	@include mediaSm {
		height: 4rem;

		&__logo {
			&-text {
				display: none;
			}
		}
	}
}
