<section id="about" class="about">
    <div class="about__content">
        <h2 class="heading">Par Mani</h2>
        <div class="underline"></div>
        <div class="about__img-container">
            <picture>
                <!-- load avif if supported -->
                <source srcset="img/about.avif" type="image/avif">
                <!-- load webp if supported -->
                <source srcset="img/about.webp" type="image/webp">
                <!-- load in case no `source` format applies 
                      and use attributes for presentation -->
                <img class="about__img" src="img/about.jpg" loading="lazy" alt="Oksana Tazova" />
            </picture>
        </div>
        <p class="about__text">
            Mani sauc Oksana, esmu sertificēta ķermeņa kopšanas speciāliste
            (masiere). Piedāvāju dažādas veida procedūras. Pirmkārt, šādu
            procedūru aktualitāte ir saistīta ar mazkustīgu dzīvesveidu. Darbs pie
            datora un fiziskas slodzes trūkums bieži noved pie tā, ka mugura un
            sprandas sāk sāpēt. Turklāt tas arī nozīmē hronisku stresu. Un kā
            pieredzējis speciālists es varu atjaunot normālu ķermeņa stāvokli, kā
            arī mazināt spriedzi. Palutini sevi ar kādu no maniem piedāvājumiem!
        </p>
    </div>
</section>