<header class="menu">
    <a class="menu__logo" href="#home">
        <img src="img/logo.svg" alt="logo">
        <span class="menu__logo-text">Oksana Tazova</span>
    </a>
    <div class="menu__contact-info">
        <div class="contact">
            <svg class="contact__icon">
                <use xlink:href="img/sprite.svg#map-marker"></use>
            </svg>
            <p>Stirnu iela 4, Rīga</p>
        </div>
        <div class="contact">
            <svg class="contact__icon">
                <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <a href="tel:+37128800849">+37128800849</a>
        </div>
        <div class="contact">
            <svg class="contact__icon">
                <use xlink:href="img/sprite.svg#clock"></use>
            </svg>
            <p>P - Pk: 9:00 - 17:00</p>
        </div>
    </div>
    <div class="menu__lang">
        <a href="index.html" class="lang-active">LV</a>
        <a href="ru.html">RU</a>
    </div>
    <div class="menu__btn" role="button" tabindex="0">
        <div class="btn-line"></div>
        <div class="btn-line">
        </div>
        <div class="btn-line">
        </div>
    </div>
</header>