<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ķermeņa Masāža | Ķermeņa Kopšanas Speciāliste" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords"
        content="Masāža, Ķermeņa Masāža, Ķermeņa Kopšana, Salons, Ķermeņa Masāža Riga, Ķermeņa Masāža Purvciema, Masāža Netālu, Masāža Blakus, Masāža SPA, Mugura Sāpēs, Sprandas Sāpēs, Medus Masāža, Šokolādes Masāža, Karsto Akmeņu Masāža, Pēdu Masāža, Anticelulīta Masāža, Relaksējoša Masāža, Sporta Masāža, Sprandas Masāža, Klasiskā Masāža" />
    <meta name="author" content="Sergejs Ivcenko" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Ķermeņa Masāža Riga</title>
    <!-- Preload fonts -->
    <link rel="preload" href="fonts/Montserrat-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Montserrat-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/OpenSans-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="fonts/Pacifico-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <!-- Links -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/vendor.css" />
    <!-- Script -->
    <script defer src="js/main.js"></script>
</head>