<section id="prices" class="prices">
    <div class="prices-card">
        <h2 class="heading">Izcenojums</h2>
        <div class="underline"></div>
        <h3>Masāžas pakalpojumu cenrādis</h3>
        <div class="packed">
            <h4>Klasiskā masāža:</h4>
            <p>Mugura (20-30min) - 10-15€</p>
            <p>Kājas (30min) - 15€</p>
            <p>Mugura + kājas (1h) - 25€</p>
            <p>Visa ķermeņa (1h30min) - 35€, (2h) - 45€</p>
            <h4>Sprandas masāža:</h4>
            <p>(20min) - 10€</p>
            <h4>Sporta masāža:</h4>
            <p>Mugura (30min) - 25€</p>
            <p>Visa ķermeņa (1h) - 45€</p>
            <h4>Relaksējoša masāža:</h4>
            <p>(1h) - 30€</p>
            <p>(1h30min) - 40€</p>
            <h4>Anticelulīta masāža:</h4>
            <p>(30min) - 25€</p>
            <h4>Refleksoloģiskā pēdu masāža:</h4>
            <p>(30min) - 20€</p>
            <h4>Medus masāža:</h4>
            <p>(1h) - 30€</p>
            <h4>Šokolādes masāža :</h4>
            <p>(1h) - 30€</p>
        </div>
    </div>
</section>