<section id="services" class="services">
    <div class="container">
        <h2 class="heading">Pakalpojumi</h2>
        <div class="underline"></div>
        <!-- <button class="arrow prev-arrow" aria-label="Prev Slide">
            <svg>
                <use xlink:href="img/sprite.svg#chevron-left"></use>
            </svg>
        </button> -->
        <div class="services__slider swiper">
            <div class="swiper-wrapper services-slider__container">
                <!--1-->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Klasiskā Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/classic.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/classic.jpg" alt="classic-massage" />
                    </picture>
                    <p class="article__text">
                        Klasiskās masāžas mērķis ir uzlabot asinsriti un limfas plūsmu,
                        nostiprināt imūnsistēmu, izkustināt pasīvos muskuļus, likvidēt
                        dažādas muskuļu sāpes, nostiprināt saites.Masāža iedarbojas ne
                        tikai fiziski uz ķermeni, bet arī var mainīt dvēseles un
                        emocionālo stāvokli.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 2 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Sprandas Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/neck.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/neck.jpg" alt="neck-massage" />
                    </picture>
                    <p class="article__text">
                        Sprandas masāža labvēlīgi ietekmē organisma svarīgākās
                        funkcijas, novērš miega traucējumus un uzlabo miega
                        kvalitāti.Sprandas masāža likvidē nogurumu, veicina darbaspēju
                        atjaunošanos un patīkami uzmundrina.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 3 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Sporta Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/sport.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/sport.jpg" alt="sport-massage" />
                    </picture>
                    <p class="article__text">
                        Sporta masāža mazina muskuļu spriedzi, mazina traumu un
                        sastiepumu risku, uzlabo asinsriti un limfas plūsmu. Sporta
                        masāža ir vairāku masāžas tehniku apvienojums, kas ir pielāgota
                        konkrētām muskuļu grupām un klienta fiziskajām aktivitātēm.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 4 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Relaksējoša Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/relax.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/relax.jpg" alt="relax-massage" />
                    </picture>
                    <p class="article__text">
                        Masāžas laikā tiek izmasētas visas ķermeņa daļas – galva, kakls,
                        krūšu daļa, vēders, mugura, rokas, kājas un pēdas. Lai labāk
                        sasniegu vēlamo rezultātu, masāžas laikā tiek veikta maiga
                        iedarbība uz cilvēka ķermenī esošajiem īpašajiem punktiem, kas
                        atbild par dažādām organisma funkcijām un uzlabo to darbību.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 5 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Anticelulīta Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/anticellyulitnyj.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/anticellyulitnyj.jpg" alt="anticellyulitnyj" />
                    </picture>
                    <p class="article__text">
                        Pretcelulīta masāža ir ļoti dziļa un spēcīga, tāpēc to var
                        izmantot gan celulīta ārstēšanā, gan arī kā labu palīgu
                        tievēšanā, īpašu vērību veltot zonām, kuras nelabprāt padodas
                        korekcijai. Masāža lieliski skulpturē ķermeni, vienlaikus
                        uzlabojot muskuļu un ādas kvalitāti.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 6 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Pēdu Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/foot.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/foot.jpg" alt="foot-massage" />
                    </picture>
                    <p class="article__text">
                        Tā ir ļoti viegla un estētiska kāju pēdu masāža, kas iekļauj
                        sevī secīgas iedarbības uz dažādām refleksogena zonām. Tās
                        galvenā darbības zona ir pēdas, kas atspoguļo cilvēka ķermeni un
                        tajā esošos orgānus.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 7 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Medus Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/classic.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/honey.jpg" alt="honey-massage" />
                    </picture>
                    <p class="article__text">
                        Medus masāža ir viens no terapeitiskās masāžas veidiem. Medus
                        tiek izmantots kā viela, kas spēj izvilkt no organisma
                        “piesārņoto” enerģiju un, iesūcoties ādā, apgādāt organismu ar
                        savām lieliskajām ārstnieciskajām īpašībām.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 8 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Šokolādes Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/chocolatec.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/chocolate.jpg" alt="chocolate-massage" />
                    </picture>
                    <p class="article__text">
                        Tā ir jutekliska aromātiska masāža, kas dod iespēju izjust
                        fizisku un garīgu labsajūtu un atbrīvoties no ikdienas
                        spriedzes. Šokolādes masāža atbrīvo no saspringuma muskulatūru,
                        savilktās ķermeņa vietas, uzlabo asins cirkulāciju, veic
                        limfodrenāžu un apgādā ķermeni ar reģenerējošām vielām.
                    </p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
                <!-- 9 -->
                <div class="article swiper-slide">
                    <h3 class="article__heading">Karsto Akmeņu Masāža</h3>
                    <picture>
                        <source srcset="img/massage-type/classic.webp" type="img/webp" />
                        <img class="article__img" src="img/massage-type/hot-stones.jpg" alt="hotstone-massage" />
                    </picture>
                    <p class="article__text">Būs Vēlāk!</p>
                    <a href="#prices" class="article__btn btn">Cenas</a>
                </div>
            </div>
        </div>
        <!-- <button class="arrow next-arrow" aria-label="Next Slide"><svg>
                <use xlink:href="img/sprite.svg#chevron-right"></use>
            </svg></button> -->
    </div>
</section>