<section id="testimonials" class="testimonials">
    <h2 class="heading">Atsauksmes</h2>
    <div class="underline"></div>
    <h3>Mani laimīgie apmeklētāji</h3>
    <article class="testimonial">
        <div class="img-container">
            <img src="img/testimonials/person1.jpg" alt="person" id="person-img" />
        </div>
        <h4 id="firstName"></h4>
        <p id="review"></p>
        <div class="button-container">
            <button class="prev-btn" aria-label="Next testimonial"><svg class="feature__icon">
                    <use xlink:href="icons/sprite.svg#chevron-left"></use>
                </svg></button>
            <button class="next-btn" aria-label="Prev testimonial"><svg class="feature__icon">
                    <use xlink:href="icons/sprite.svg#chevron-right"></use>
                </svg></button>
        </div>
    </article>
</section>