@import './variables';
@import './mixins';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body {
	background-color: $primary-color-lighten;
	line-height: 1.5;
	color: $text-color;
}

a {
	display: inline-block;
	text-decoration: none;
}

textarea {
	resize: none;
}

h1 {
	color: $white-color;
	font-family: $montserrat;
	@include adaptiv-font(50, 30);
	line-height: 1.1;
}

h2,
h3,
h4 {
	text-align: center;
}

h3 {
	@include adaptiv-font(26, 24);
	font-family: $montserrat;
	font-weight: $medium-font-weight;
}

p,
a {
	font-family: $open-sans;
}

img {
	display: block;
	width: 100%;
}

.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

.heading {
	font-family: $montserrat;
	font-weight: $medium-font-weight;
	@include adaptiv-font(40, 30);
}

.underline {
	width: 5rem;
	height: 0.3rem;
	margin: 0 auto 1rem;
	background-color: $primary-color;
}

.lang-active {
	background: #fff;
	@include border-radius;
}

.btn {
	color: $white-color;
	background-color: $primary-color;
	padding: 0.8em 1.8em;
	@include border-radius;
	@include easeOut;

	&:hover {
		background-color: $button-hover;
	}
}

/* Scroll Top Button */
.top-btn {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding: 8px;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	background: $primary-color;
	color: #fff;
	border: none;
	outline: none;
	opacity: 0.6;
	display: none;
	transition: opacity 0.2s;
	@include border-radius;

	svg {
		fill: #fff;
		width: 100%;
		height: 100%;
	}

	&:hover {
		opacity: 0.8;
	}

	&.visible {
		display: block;
	}
}

.dis-scroll {
	overflow: hidden;
	height: 100vh;
}
