@import "_mixins.scss";

// Max width 425px
@include mediaSm {
  // Home
  .menu {
    padding: 0 2rem;
    .logo {
      img {
        width: 4rem;
        height: 4rem;
      }
      &-text {
        display: none;
      }
    }
    .contact-info {
      width: auto;
      .contact:nth-child(1) {
        display: none;
      }
      .contact:nth-child(2) {
        a {
          padding-left: 0.5rem;
        }
      }
      .contact:nth-child(3) {
        display: none;
      }
    }
  }

  #home {
    min-height: 70vh;
  }

  // Services
  #services {
    padding: 5rem 5rem;
    .services-slider {
      display: block !important;
      border: 1px solid $primary-color;
      @include border-radius;
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5) !important;
    }
    .article {
      border: none !important;
    }
  }

  // Prices
  #prices {
    .prices-card {
      width: 90%;
      background-size: 10rem;
      background-position: bottom 2rem right 1rem;
    }
  }

  // About
  #about {
    grid-template-columns: 1fr;
    .about-img {
      height: 42rem;
    }
  }

  // Contact
  #contacts {
    display: grid;
    grid-template-columns: 1fr;
    .contacts-info {
      width: 100%;
      padding: 5rem 5rem;
      form {
        .form-group {
          margin-bottom: 3rem;
        }
      }
    }
    .map {
      width: 100%;
      height: 40rem;
    }
  }
}

// Min-width: 426px and Max-width: 767px
@include mediaMd {
  // Menu
  .menu {
    padding: 0 1rem;
    .logo {
      img {
        width: 4rem;
        height: 4rem;
      }
    }
    .contact-info {
      width: auto;
      .contact:nth-child(1) {
        display: none;
      }
      .contact:nth-child(3) {
        display: none;
      }
    }
  }
  // Home
  #home {
    min-height: 70vh;
  }

  // Services
  #services {
    padding: 5rem 5rem;
    .services-slider {
      display: block !important;
      border: 1px solid $primary-color;
      box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5) !important;
      @include border-radius;
    }
    .article {
      border: none !important;
      &-text {
        min-height: 12rem !important;
      }
    }
  }
  // Prices
  #prices {
    .prices-card {
      width: 80%;
      background-size: 12rem;
      background-position: bottom 2rem right 1rem;
    }
  }
  // About
  #about {
    grid-template-columns: 1fr;
    .about-img {
      height: 42rem;
    }
  }

  // Contact
  #contacts {
    display: grid;
    grid-template-columns: 1fr;
    .contacts-info {
      width: 100%;
      padding: 5rem 5rem;
      form {
        .form-group {
          margin-bottom: 3rem;
        }
      }
    }
    .map {
      width: 100%;
      height: 40rem;
    }
  }
}

// Min-width: 768px and Max-width: 1025px
@include mediaLg {
  // Menu
  .menu {
    padding: 0 2rem;

    .contact-info {
      width: 57%;
    }
  }

  // Home
  #home {
    min-height: 80vh;
  }

  // Services
  #services {
    padding: 5rem 5rem;
    .services-slider {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  // Prices
  #prices {
    .prices-card {
      width: 70%;
      background-size: 20rem;
    }
  }

  // About
  #about {
    grid-template-columns: repeat(2, 1fr);
  }

  // Contact
  #contacts {
    display: grid;
    grid-template-columns: 1fr;
    .contacts-info {
      width: 100%;
      padding: 5rem 5rem;
      form {
        .form-group {
          margin-bottom: 3rem;
        }
      }
    }
    .map {
      width: 100%;
      height: 40rem;
    }
  }
}
