@import '_fonts.scss';

// Fonts
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montseratt', sans-serif;
$pacifico: 'Pacifico', cursive;

// Font weight
$bold-font-weight: 700;
$semi-bold-font-weight: 600;
$medium-font-weight: 500;
$regular-font-weight: 400;
$light-font-weight: 300;

// Colors
$primary-color: #ed1e79;
$text-color: #404041;
$gradient: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

// Animation & Effects
$button-hover: darken($primary-color, 10%);

// Max Width
$maxWidth: 1440;
