// Fonts
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,600&display=swap");

$open-sans: "Open Sans", sans-serif;
$montserrat: "Montseratt", sans-serif;
$pacifico: "Pacifico", cursive;

// Font weight
$heading-font-weight: 500;
$text-font-weight: 300;

// Colors
$primary-color: #ed1e79;
$text-color: #404041;

// Animation & Effects
$button-hover: darken($primary-color, 10%);

// Max Width
$maxWidth: 1440;
